.img12 {
    width: 75%;
    height: 75%;    
    padding: 5px;
}
.previous{
    background-color: #f1f1f1;
    color: black;
    padding: 4px 20px;
    font-size: 23px;
    text-align: center;    
    float: left;
  }
  .next {
    background-color: #f1f1f1;
    color: black;
    padding: 4px 20px;
    font-size: 25px;
    text-align: center;
    float: right;
  }
  footer {
    clear: both;
    position: relative;
    height: 30px;
    margin-top: -200px;
    text-align: center;
    border-top: 2px solid;
}
  .column {
    float: right;
    width: 13%;
  }
  .maincolumn{
    width: 87%;
  }
  figcaption{
    text-align: center;
    font-size: 15px;    
  }
  button{
    position: absolute;
    top: 33%;
  }
  figure{
    padding: 0 15px 15px;
  }
  table{
    align-items: flex-end;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 140px;
    height: auto;
  }