  .maincolumn{
    width: 85%;
  }
  footer{
    border-top: 2px solid black;
  }
  .table2{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    height: auto;
    font-size: 11px;
    border-collapse: separate;
    border-spacing: 30px 9px; 
    border-top: 1px solid black;
  }
  .box {
    float: right;
    border: 2px solid black;
    padding-left:5px;
    width: auto;
  }
  .links{
    float: right;
    margin-top:100px;
    width:175px;
    border: 2px solid black;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: right;
  }