p {
    color: orangered;
    margin: 10px;
}
h1 {
    color: orange;
    margin: 10px;
}
h2 {
    color: orange;
    margin: 5px;
}
img {
    margin: 10px;
}
h5 {
    color: rgb(196, 59, 10);
    margin: 10px;
}
iframe{
    margin-top: 10px;
}