h1{
    color: hsl(200, 100%, 21%);
}
h2{
    color: hsl(202, 100%, 21%);
}

P {
    color: hsl(170, 100%, 25%);
    font-size: 16px;
    color: hsl(197, 100%, 21%);
}

P {
    color: hsl(180, 100%, 25%);
}
header > h1{
    text-align: center;
    background-color:  hsl(200, 56%, 38%);
    padding: 30px;
}
nav > div{
    line-height: 30px;
    font-size: 22px;
}
body{
    background-color: orange;
p {
    color: orangered;
    margin: 10px;
}
h1 {
    color: orange;
    margin: 10px;
}
img {
    margin: 10px;
}